:host {

    display: flex;
    align-items: center;
    align-content: center;
    position: relative;

    height: 100%;

    .container {
        margin: 0 auto;
        text-align: center;

        h1 {
            font-size: 60px;
        }
    }
}